In [1]:
# Imports

import pandas as pd
import numpy as np
import openpyxl

### Read the first data file

In [2]:
# Reading the files, Omit the first 3 rows and last 9 rows of unnecessary data

data1 = pd.read_csv("../data/raw/summary-statistics.csv", skiprows=3)[:-9]
data1.dropna(inplace = True)

In [3]:
data1['Total male population (000s)'] = data1['Total male population (000s)'].apply(lambda x: x.replace(',', ''))
data1['Total female population (000s)'] = data1['Total female population (000s)'].apply(lambda x: x.replace(',', ''))
data1['Total population (000s)'] = data1['Total population (000s)'].apply(lambda x: x.replace(',', ''))
data1['Median age at death'] = data1['Median age at death'].apply(lambda x: x.replace(',', ''))
data1['Total fertility'] = data1['Total fertility'].apply(lambda x: x.replace(',', ''))

In [4]:
data1['Median age at death'] = data1['Median age at death'].apply(lambda x: x.replace('--', '0'))
data1['Total fertility'] = data1['Total fertility'].apply(lambda x: x.replace('--', '0'))

In [5]:
data1 = data1.astype({'Total male population (000s)':'float',
                                          'Total female population (000s)':'float',
                                          'Total population (000s)':'float',
                                          'Median age at death':'float',
                                          'Total fertility':'float',
                                         })

In [6]:
data1['Year'] = data1['Year'].astype('str')

In [7]:
# Exporting to csv file for plotting
data1.to_csv('../data/clean/population_trends.csv', index=False)

In [8]:
# Creating a tidy dataframe for viewing the children dependency, elderly denpendency
dependency_melt = pd.melt(data1[['Year', 'Child dependency', 'Elderly dependency', 'Total dependency']], id_vars = ['Year'], value_vars= ['Child dependency', 'Elderly dependency', 'Total dependency'], var_name= 'Dependency', value_name= 'Value')

In [9]:
# Exporting to csv file for plotting
dependency_melt.to_csv('../data/clean/dependency.csv', index=False)

### Read the second data file

In [10]:
data2 = pd.read_csv("../data/raw/provincial_voter_participation_by_age_group.csv")

In [11]:
data2['PARTICIPATION'] = data2['PARTICIPATION'].apply(lambda x: x.replace(',', ''))
data2['REGISTERED_VOTERS'] = data2['REGISTERED_VOTERS'].apply(lambda x: x.replace(',', ''))

In [12]:
data2['Year'] = data2['EVENT_YEAR'].astype('str')

In [13]:
data2 = data2.astype({'PARTICIPATION':'int',
                                          'REGISTERED_VOTERS':'int',
                                          'AGE_GROUP':'str',
                                                  'Year': 'str',})

In [14]:
data2 = data2[['Year', 'ED_NAME', 'AGE_GROUP', 'PARTICIPATION', 'REGISTERED_VOTERS']]

In [15]:
data2['RATIO_PARTICIPATION'] = round(data2['PARTICIPATION']/data2['REGISTERED_VOTERS'],2)

In [16]:
# Exporting to csv file for plotting
data2.to_csv('../data/clean/participation_by_district.csv')

In [17]:
participation_df = data2.groupby(['Year', 'AGE_GROUP'])['PARTICIPATION', 'REGISTERED_VOTERS'].sum().reset_index()

C:\Users\ranji\AppData\Local\Temp\ipykernel_18052\1055910838.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  participation_df = data2.groupby(['Year', 'AGE_GROUP'])['PARTICIPATION', 'REGISTERED_VOTERS'].sum().reset_index()

In [18]:
participation_df['RATIO_PARTICIPATION'] = round(participation_df['PARTICIPATION']/participation_df['REGISTERED_VOTERS'],2)

In [19]:
# Exporting to csv file for plotting
participation_df.to_csv('../data/clean/participation_aggregate.csv', index=False)

### Read the third data file

In [21]:
# Reading the relevant rows that provide the public sectore expenditure on health in British Columbia

data3 = pd.read_excel('../data/raw/nhex-series-B-2022-en.xlsx', sheet_name='Total', skiprows=4,  nrows= 46)

In [22]:
# Removing the spaces from the column names
data3.columns = data3.columns.str.strip()

In [23]:
data3['Year'] = data3['Year'].astype(str)

In [24]:
# Selecting only the columns of interest to us
# healthcare_exp_df = data3[['Year', 'B.C.']]
healthcare_exp_df = data3.drop('Canada', axis = 1)

In [25]:
healthcare_exp_df.columns

Index(['Year', 'N.L.', 'P.E.I.', 'N.S.', 'N.B.', 'Que.', 'Ont.', 'Man.',
       'Sask.', 'Alta.', 'B.C.', 'Y.T.', 'N.W.T', 'Nun.'],
      dtype='object')

In [26]:
healthcare_exp_df = healthcare_exp_df.rename(columns={"N.L.": "Newfoundland and Labrador",
                                  "P.E.I.": "Prince Edward Island",
                                  "N.S.": "Nova Scotia",
                                  "N.B.": "New Brunswick",
                                  "Que.": "Quebec",
                                  "Ont.": "Ontario",
                                  "Man.": "Manitoba",
                                  "Man.": "Manitoba",
                                  "Sask.": "Saskatchewan",
                                  "Alta.": "Atlantic Canada",
                                 "B.C.": "British Columbia",
                                 "Y.T.": "Yukon",
                                 "N.W.T": "Northwest Territories",
                                 "Nun.": "Nunavut"})

In [27]:
healthcare_exp_df['Nunavut'] = healthcare_exp_df['Nunavut'].replace('—','N/A')

In [28]:
healthcare_exp_df.head()

,Year,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,Atlantic Canada,British Columbia,Yukon,Northwest Territories,Nunavut
0,1975,264.492823,59.170241,382.472695,277.479931,3378.773052,4422.820024,546.334119,441.196953,992.343324,1383.358787,15.91580,35.07910,N/A
1,1976,312.823110,62.861735,442.183642,321.885196,3875.164143,5040.800222,629.384654,520.340402,1158.898913,1628.320348,18.07495,39.04545,N/A
2,1977,362.882321,68.724824,469.113113,358.882199,4200.684762,5524.588041,705.987982,587.366712,1272.117323,1831.820033,18.50290,49.30825,N/A
3,1978,412.694878,79.485228,512.482513,404.659686,4666.574890,6071.878920,749.024697,622.383314,1465.355210,2044.413892,21.34315,56.50345,N/A
4,1979,473.336652,96.582711,572.951620,470.024135,5149.609827,6727.957753,823.319232,703.467426,1780.959174,2288.573107,23.94195,58.95455,N/A

In [29]:
value_vars = healthcare_exp_df.drop('Year', axis = 1).columns

In [30]:
healthcare_melt = pd.melt(healthcare_exp_df, id_vars = ['Year'], value_vars= value_vars, var_name= 'Provinces', value_name= 'Health Expense (Millions)')

In [31]:
healthcare_melt.to_csv('../data/clean/healthcare_expenses.csv', index = False)

In [14]:
# healthcare_exp_df.dropna(inplace = True)

### Per-capita health expenditure computation

In [25]:
# Joining the data to compute the per-capita health expenditure

healthcare_exp_df = pd.merge(healthcare_exp_df, data1, how = 'left', on = 'Year')

In [26]:
# Numerator is in millions, denominator is in thousands
healthcare_exp_df['Per_capita_healthexp'] = healthcare_exp_df['B.C.'] / healthcare_exp_df['Total population (000s)']

In [27]:
# Multiply the result with 1000 to get in CAD.
healthcare_exp_df['Per_capita_healthexp']  = healthcare_exp_df['Per_capita_healthexp'] * 1000

In [28]:
healthcare_exp_df = healthcare_exp_df[['Year', 'Per_capita_healthexp', 'Median age']]

In [16]:
# Exporting to csv file for plotting
# healthcare_exp_df.to_csv('../data/clean/healthcare_expenses.csv', index = False)